body {
  background: url("../images/bananas.png");
}

#navlogo {
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

img {
  width: 200px;
  height: auto;
}

footer {
  padding-top: 60px;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
  height: 50px;
  margin-top: 80px;
}

img {
  padding-bottom: 20px;
  width: 100%;
}

.col-md-4 h3 {
  position: absolute;
  bottom: 20px;
  width: 92%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}